
.wrap {
    min-height: 300px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    align-items: center;
    margin: auto;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

#Cancella {
    color: red;
}