

<div class="text-center">
    <form (ngSubmit)="onSubmit()" class="w-[27rem] p-6 rounded-lg shadow-md">
        <h2 mat-dialog-title>Update Luogo</h2>
        
        <mat-form-field class="cdk-visually-hidden">
            <mat-label>Id</mat-label>
            <input matInput name="id"
            [(ngModel)]="luogoItem.id" value="{{luogoItem.id}}" >
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput name="name"
            [(ngModel)]="luogoItem.name" value="luogoItem.name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Descrizione</mat-label>
            <textarea matInput name="descrizione"
            [(ngModel)]="luogoItem.descrizione" value="{{luogoItem.descrizione}}"></textarea>
          </mat-form-field>
    
        <mat-form-field>
            <mat-label>Link Immagine</mat-label>
            <input matInput name="img"
            [(ngModel)]="luogoItem.img" value="{{luogoItem.img}}">
        </mat-form-field>
    
    
        <div>
            <button mat-stroked-button color="primary" type="submit">Invia</button>
        </div>
    
    </form>
</div>